.terkini{
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 300px;
    align-items: center;
}

.card-tittle a{
    font-size: 25px;
}

.card:hover{
    -webkit-box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 20px -12px rgba(0,0,0,0.75);
}

.card img{
    width: 100%;
    height: 100%;
}


.single-blog{
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    width: 250px;
    font-size: 15px;
}

.blog-text{
    font-size: 10px;
}

.col-md-6 h6 a{
    font-size: 15px;
    color: black
}