#footer{
    background:  #212121;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
    width: 100%;
    display: block;
}

.footer-top{
    background: #333;
    padding: 60px 0 30px 0;
}

.footer-top .footer-info{
    margin-bottom: 30px;
}

.footer-top .footer-info h2{
    font-size: 34px;
    margin: 0 0 30px 0;
    line-height: 1;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer-top p{
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 0;
    color: #ecf5ff;
    text-align: justify;
}

.footer-top .footer-contact a{
    font-size: 18px;
    display: inline-block;
    background: #007bff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: .3s;
}

.footer-top .footer-contact a:hover{
    background: #0067d5;
    color: #fff;
}

.footer-top .footer-links{
    margin-bottom: 30px;
}

.footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-top .footer-links ul li a{
    margin: 5px;
    padding: 8px 0;
    color: white;
}

.copyright{
    margin-top: auto;
    text-align: center;
}